# Assignment #0

## 1. Learning Python (100 points)

**1.1** Print "Hello, World!"

In [1]:
print("Hello, World!")

Hello, World!

**1.2** Comment out the text below.

In [2]:
# Running this text without commenting it out will give an error

**1.3** Create a variable named course and assign the value ESDA to it. Print the variable.

In [3]:
course = "ESDA"

course

'ESDA'

**1.4** Define x to be 5 and y to be 12. Create a variable called z, assign x + y to it, and print the result.

In [4]:
x = 5
y = 12

z = x + y
z

17

**1.5** Use the len method to print the length of the string = "CEE-690-02".

In [5]:
len("CEE-690-02")

10

**1.6** Print the first character of the string = "ESDA".

In [6]:
"ESDA"[0]

'E'

**1.7** Print the characters from position 2 to position 6 (not included) from the string "Big data".

In [7]:
"Big data"[1:5]

'ig d'

**1.8** Convert the value of string = "CLASSROOM" to lower case.

In [8]:
"CLASSROOM".lower()

'classroom'

**1.9** Use the correct logical operator to check if at least one of the two statements is True.

In [9]:
if (5 == 10) or (4 == 4):
    print("At least one of the statements is true")

At least one of the statements is true

**1.10** Print the first and last item in the vehicles list defined below.

In [10]:
vehicles = ['car','truck','bus']

print(vehicles[0])
print(vehicles[-1])

car
bus

**1.11** Change the value from "bus" to "motorcycle" in the vehicles list and print the result.

In [11]:
vehicles[-1] = "motorcycle"

vehicles

['car', 'truck', 'motorcycle']

**1.12** Use the append method to add "bicycle" to the vehicles list and print the result.

In [12]:
vehicles.append('bicycle')

vehicles

['car', 'truck', 'motorcycle', 'bicycle']

**1.13** Print the value of the "name" key of the course dictionary defined below.

In [13]:
course= {
    "name":"Environmental Spatial Data Analysis",
    "id":"CEE690-02",
    "semester":"Fall",
    "year":2020
}

course["name"]

'Environmental Spatial Data Analysis'

**1.14** Change the "year" value from 2020 to 2021 and print the revised dictionary.

In [14]:
course["year"] = 2021

course

{'name': 'Environmental Spatial Data Analysis',
 'id': 'CEE690-02',
 'semester': 'Fall',
 'year': 2021}

**1.15** Add the key/value pair "grade" : "A" to the course dictionary. Print the revised dictionary.

In [15]:
course["grade"] = "A"

course

{'name': 'Environmental Spatial Data Analysis',
 'id': 'CEE690-02',
 'semester': 'Fall',
 'year': 2021,
 'grade': 'A'}

**1.16** Use the clear method to empty the course dictionary. Print the revised dictionary.

In [16]:
course.clear()

course

{}

**1.17** Set make1 = "Toyota", make2 = "Mercedes", make3 = "Ford", and make4 = "Ford". Print "make1 and make2 or make3 and make4 are the same" if make1 is equal to make2, or make3 is equal to make4 (Use if statements).

In [17]:
make1 = "Toyota"
make2 = "Mercedes"
make3 = "Ford"
make4 = "Ford"

if make1 == make2 or make3 == make4:
    print("make1 and make2 or make3 and make4 are the same")

make1 and make2 or make3 and make4 are the same

**1.18** Print i as long as i is less than or equal to 9.

In [18]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

**1.19** Modify the loop defined above by adding a conditional statement to stop the loop if i is 5.

In [19]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

**1.20** Loop through and print the items in the vehicles list defined below.

In [20]:
vehicles = ["car","bus","motorcycle"]

for i in vehicles:
    print(i)

car
bus
motorcycle

**1.21** Modify the loop defined above such that when the item value is "bus", the loop is exited.

In [21]:
for i in vehicles:
    if i == "bus":
        break
    print(i)

car

**1.22** Use the range function to define a list of integers from 0 to 9. Then iterate and print those values.

In [22]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

**1.23** Create and call a function called hello_world that prints "Hello, World!".

In [23]:
def hello_world():
    print("Hello, World!")

hello_world()

Hello, World!

**1.24** Create a function called many_hello_worlds that calls the hello_world function defined above n times. The parameter n should be passed into the function. Call the function many_hello_worlds with n = 3.

In [24]:
def many_hello_worlds(n):
    for i in range(n):
        print("Hello, World!")

many_hello_worlds(3)

Hello, World!
Hello, World!
Hello, World!

**1.25** Create and call a function that computes and prints the third (1) through the twelfth elements (89) of the Fibonacci sequence.

In [25]:
def fibonnaci():
    a, b = 0, 1
    for _ in range(2, 12):
        c = a + b
        print(c)
        a, b = b, c

fibonnaci()

1
2
3
5
8
13
21
34
55
89