# Assignment #0

## 1. Learning Python (100 points)

**1.1** Print "Hello, World!"

**1.2** Comment out the text below.

In [ ]:
Running this text without commenting it out will give an error

**1.3** Create a variable named course and assign the value ESDA to it. Print the variable.

**1.4** Define x to be 5 and y to be 12. Create a variable called z, assign x + y to it, and print the result.

**1.5** Use the len method to print the length of the string = "CEE-690-02".

**1.6** Print the first character of the string = "ESDA".

**1.7** Print the characters from position 2 to position 6 (not included) from the string "Big data".

**1.8** Convert the value of string = "CLASSROOM" to lower case.

**1.9** Use the correct logical operator to check if at least one of the two statements is True.

In [ ]:
if (5 == 10) OPR (4 == 4):
    print("At least one of the statements is true")

**1.10** Print the first and last item in the vehicles list defined below.

In [ ]:
vehicles = ['car','truck','bus']

**1.11** Change the value from "bus" to "motorcycle" in the vehicles list and print the result.

**1.12** Use the append method to add "bicycle" to the vehicles list and print the result.

**1.13** Print the value of the "name" key of the course dictionary defined below.

In [ ]:
course= {
    "name":"Environmental Spatial Data Analysis",
    "id":"CEE690-02",
    "semester":"Fall",
    "year":2020
}

**1.14** Change the "year" value from 2020 to 2021 and print the revised dictionary.

**1.15** Add the key/value pair "grade" : "A" to the course dictionary. Print the revised dictionary.

**1.16** Use the clear method to empty the course dictionary. Print the revised dictionary.

**1.17** Set make1 = "Toyota", make2 = "Mercedes", make3 = "Ford", and make4 = "Ford". Print "make1 and make2 or make3 and make4 are the same" if make1 is equal to make2, or make3 is equal to make4 (Use if statements).

**1.18** Print i as long as i is less than or equal to 9.

**1.19** Modify the loop defined above by adding a conditional statement to stop the loop if i is 5.

**1.20** Loop through and print the items in the vehicles list defined below.

In [ ]:
vehicles = ["car","bus","motorcycle"]

**1.21** Modify the loop defined above such that when the item value is "bus", the loop is exited.

**1.22** Use the range function to define a list of integers from 0 to 9. Then iterate and print those values.

**1.23** Create and call a function called hello_world that prints "Hello, World!".

**1.24** Create a function called many_hello_worlds that calls the hello_world function defined above n times. The parameter n should be passed into the function. Call the function many_hello_worlds with n = 3.

**1.25** Create and call a function that computes and prints the third (1) through the twelfth elements (89) of the Fibonacci sequence.